#app {
    text-align: center;
}

body {
    font-family: sans-serif;
    background-color: #eee;
    font-family: 'Kalam';
}

button:hover {
    cursor:pointer;
    box-shadow: 1px 1px 10px 1px;
}

.title {
    font-size: 50px;
}

.login-container, .signup-container {
    margin-top: 20%;
    font-size: 30px;
}

.login-container span, .signup-container span {
    margin-right: 10px;
}




.username,.password {
    font-size: 20px;
}

.username input,.password input{
    width: 15%;
    height: 30px;
    font-size:15px;
    margin-bottom: 10px;
}

#feedInput {
    height: 30px;
    width: 30%;
    font-size: 15px;
}


.tweet-container {
    margin: 0 auto;
    border: 1px solid #eee;
    width: 45%;
    height: auto;
    padding:6px;
}

.tweet-container li {
    list-style: none;
    
}

.feed {
    border: 1px solid gray;
}



.show-comment {
    position: relative;
    top: 0;
}

ul {

}

#profile-picture {
    height:150px;
    width:150px;
}

.tweet-image {
    float:left;
    height: 50px;
    width:50px;
}

.comment-profile {
    float:left;
    height: 30px;
    width: 30px;
}

.comment-container {
   
}

.comment-entry {
    height:30px;
    border: 1px solid #eee;
}

.comment-field {
    height: 25px;
    width: 50%;
}

